src/flows/CaseChatterPostforautomaticallycaseCreation-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Shane - Updating original due to issues - When a new case is automatically created by a customer responding to a closed case.</description>
    <formulas>
        <name>BaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; &quot;lightning/r/Case/&quot;</expression>
    </formulas>
    <interviewLabel>ChatterPostfor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseChatterPostforautomaticallycaseCreation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a feed post with the previous case details.</description>
        <name>Create_chatter_post</name>
        <label>Create chatter post</label>
        <locationX>1187</locationX>
        <locationY>578</locationY>
        <connector>
            <targetReference>Create_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <stringValue>&lt;p&gt; 			This case has been created as the customer responded to closed case &lt;a href=&quot;{!BaseURL}{!ParentCaseRecord.Id}/view&quot; target=&quot;_self&quot;&gt;{!ParentCaseRecord.CaseNumber}&lt;/a&gt;. 		&lt;/p&gt; 		&lt;p&gt; 			&amp;nbsp; 		&lt;/p&gt; 		&lt;p&gt; 			The original details from the case are: 		&lt;/p&gt; 		&lt;p&gt; 			&amp;nbsp; 		&lt;/p&gt; 		&lt;ul&gt; 			&lt;li&gt; 				&lt;b&gt;Account&lt;/b&gt; - {!ParentAccountName} 			&lt;/li&gt; 			&lt;li&gt; 				&lt;b&gt;Contact&lt;/b&gt; - {!ParentCaseRecord.Contact_FirstName__c} {!ParentCaseRecord.Contact_LastName__c} 			&lt;/li&gt; 			&lt;li&gt; 				&lt;b&gt;Entitlement&lt;/b&gt; - {!EntitlementName} 			&lt;/li&gt; 			&lt;li&gt; 				&lt;b&gt;Product&lt;/b&gt; - {!ParentCaseRecord.Products__c} 			&lt;/li&gt; 			&lt;li&gt; 				&lt;b&gt;Previous Owner&lt;/b&gt; - {!ParentCaseOwnerFirstName} {!ParentCaseOwnerLastName} 			&lt;/li&gt; 			&lt;li&gt; 				&lt;b&gt;Resolution&lt;/b&gt; - {!ParentCaseRecord.Resolution__c} 			&lt;/li&gt; 		&lt;/ul&gt; </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRichText</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <description>Creates a new email based on the parent email record</description>
        <name>Create_Email</name>
        <label>Create Email</label>
        <locationX>1390</locationX>
        <locationY>578</locationY>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>ParentEmailRecord.CcAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>ParentEmailRecord.FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Headers</field>
            <value>
                <elementReference>ParentEmailRecord.Headers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ParentEmailRecord.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>ParentEmailRecord.TextBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>ParentEmailRecord.ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <description>This creates the new case based on the old case.  Note:  Since this fires after apex and assignment rules we have to to set it manually in the flow to CS queue (00G0P000002dug4UAA)</description>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>668</locationX>
        <locationY>49</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_EmailMessage</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ParentCaseRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Component__c</field>
            <value>
                <elementReference>ParentCaseRecord.Component__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ParentCaseRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ParentCaseRecord.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Environment__c</field>
            <value>
                <elementReference>ParentCaseRecord.Environment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G0P000002dug4UAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ParentCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Products__c</field>
            <value>
                <elementReference>ParentCaseRecord.Products__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Component__c</field>
            <value>
                <elementReference>ParentCaseRecord.Sub_Component__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ParentCaseRecord.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Name</name>
        <label>Get Account Name</label>
        <locationX>933</locationX>
        <locationY>578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_chatter_post</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseRecord.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ParentAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Owner_Name</name>
        <label>Get Case Owner Name</label>
        <locationX>933</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseRecord.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ParentCaseOwnerFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentCaseOwnerLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the old email message.</description>
        <name>Get_EmailMessage</name>
        <label>Get EmailMessage</label>
        <locationX>932</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Entitlement_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentEmailRecordId</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputAssignments>
            <assignToReference>ParentEmailRecord.CcAddress</assignToReference>
            <field>CcAddress</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentEmailRecord.FromAddress</assignToReference>
            <field>FromAddress</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentEmailRecord.FromName</assignToReference>
            <field>FromName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentEmailRecord.Headers</assignToReference>
            <field>Headers</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentEmailRecord.HtmlBody</assignToReference>
            <field>HtmlBody</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentEmailRecord.Incoming</assignToReference>
            <field>Incoming</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentEmailRecord.MessageDate</assignToReference>
            <field>MessageDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentEmailRecord.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentEmailRecord.Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentEmailRecord.TextBody</assignToReference>
            <field>TextBody</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentEmailRecord.ToAddress</assignToReference>
            <field>ToAddress</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Entitlement_Name</name>
        <label>Get Entitlement Name</label>
        <locationX>932</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Owner_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseRecord.EntitlementId</elementReference>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>EntitlementName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Load_Parent_Case_Record</name>
        <label>Load Parent Case Record</label>
        <locationX>318</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ParentCaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>CaseOwnerName__c</queriedFields>
        <queriedFields>Component__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Environment__c</queriedFields>
        <queriedFields>Sub_Component__c</queriedFields>
        <queriedFields>Resolution__c</queriedFields>
        <queriedFields>Products__c</queriedFields>
        <queriedFields>EntitlementId</queriedFields>
        <queriedFields>Contact_FirstName__c</queriedFields>
        <queriedFields>Contact_LastName__c</queriedFields>
        <queriedFields>ProductId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <startElementReference>Load_Parent_Case_Record</startElementReference>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailCcAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailFromAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailHeaders</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTextBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailToAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntitlementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the original email body</description>
        <name>OriginalEmailMessageBody</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <description>Trying to get the casebody as Dilips flow deletes it.</description>
        <name>OriginalNewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ParentAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentCaseOwnerFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentCaseOwnerLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>This contains the Parent Email record to be duplicated into the new case</description>
        <name>ParentEmailRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <description>Input of the email record ID that started the flow</description>
        <name>ParentEmailRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
