src/flows/Login_Flow_for_Community_User-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Update_Contact_For_L1</name>
        <label>Update Contact For L1</label>
        <locationX>375</locationX>
        <locationY>706</locationY>
        <actionName>ContactUpdateApexControllerL1</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Embargo_Country</targetReference>
        </connector>
        <inputParameters>
            <name>fieldValues</name>
            <value>
                <elementReference>ParametersList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Contact_For_L2</name>
        <label>Update Contact For L2</label>
        <locationX>1113</locationX>
        <locationY>557</locationY>
        <actionName>ContactUpdateApexController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Embargo_Country</targetReference>
        </connector>
        <inputParameters>
            <name>fieldValues</name>
            <value>
                <elementReference>ParametersList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Contact_None_For_L1</name>
        <label>Update Contact None For L1</label>
        <locationX>131</locationX>
        <locationY>284</locationY>
        <actionName>ContactUpdateApexControllerL1</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>fieldValues</name>
            <value>
                <elementReference>ParametersList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Contact_None_For_L2</name>
        <label>Update Contact None For L2</label>
        <locationX>953</locationX>
        <locationY>282</locationY>
        <actionName>ContactUpdateApexControllerL1</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>fieldValues</name>
            <value>
                <elementReference>ParametersList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_L2_value_as_Yes</name>
        <label>Assign L2 value as Yes</label>
        <locationX>992</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>AlreadyL2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_all_Mandatory_Fields_are_populated_for_L2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Force_Logout</name>
        <label>Set Force Logout</label>
        <locationX>748</locationX>
        <locationY>687</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dummy_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ParametersList_value</name>
        <label>Set ParametersList value</label>
        <locationX>1414</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id={!vContactId}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Best_Method_of_Contact__c={!Best_Method_of_Contact_L2_0}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Company__c={!CompanyL2_0}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Phone={!Primary_Phone}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>TermsAndConditions__c={!TermsAndConditionsL2_0}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Time_Zone__c={!Time_ZoneL2_0}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Title={!TitleL2_0}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>MailingCountryCode={!CountryL2}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PCN={!Pivotal_Customer_Number}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>AlreadyL2={!AlreadyL2}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_For_L2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ParametersList_value_1</name>
        <label>Set ParametersList value</label>
        <locationX>1595</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id={!vContactId}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Best_Method_of_Contact__c={!Best_Method_of_Contact_L2_0}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Company__c={!CompanyL2_0}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Phone={!Primary_Phone}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>TermsAndConditions__c={!TermsAndConditionsL2_0}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Time_Zone__c={!Time_ZoneL2_0}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Title={!TitleL2_0}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PCN={!Pivotal_Customer_Number}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>AlreadyL2={!AlreadyL2}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_For_L2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ParametersList_value_As_None_L1</name>
        <label>Set ParametersList value As None L1</label>
        <locationX>131</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id={!vContactId}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_None_For_L1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ParametersList_value_As_None_L2</name>
        <label>Set ParametersList value As None L2</label>
        <locationX>799</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id={!vContactId}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_None_For_L2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ParametersList_value_L1</name>
        <label>Set ParametersList value L1</label>
        <locationX>35</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id={!vContactId}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>TermsAndConditions__c={!TermsAndConditionsL1_0}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>MailingCountryCode={!CountryCode1_0}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_For_L1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ParametersList_value_L1_0</name>
        <label>Set ParametersList value L1</label>
        <locationX>272</locationX>
        <locationY>868</locationY>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id={!vContactId}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>TermsAndConditions__c={!TermsAndConditionsL1_0}~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_For_L1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BestMethodOfContactChoice</name>
        <choiceText>{!BMCSelectedFormula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>BMCSelectedFormula</elementReference>
        </value>
    </choices>
    <choices>
        <name>ContinueAsL1</name>
        <choiceText>Continue As L1.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CountryChoice</name>
        <choiceText>{!SelectedCountryFormula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SelectedCountryFormula</elementReference>
        </value>
    </choices>
    <choices>
        <name>L1</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;I want to view Pivotal Knowledge Articles&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;and participate in Discussion forums&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L1</stringValue>
        </value>
    </choices>
    <choices>
        <name>L2</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;In addition to Knowledge Articles and Discussion Forums, I also have a Pivotal Subscription and may open Cases with Pivotal Support&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L2</stringValue>
        </value>
    </choices>
    <choices>
        <name>TimeZoneChoice</name>
        <choiceText>{!TimeZoneSelectedFormula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>TimeZoneSelectedFormula</elementReference>
        </value>
    </choices>
    <choices>
        <name>vBestMethodOfContact</name>
        <choiceText>vBestMethodOfContact</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>contactRec.Best_Method_of_Contact__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>vTimeZone</name>
        <choiceText>vTimeZone</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>contactRec.Time_Zone__c</elementReference>
        </value>
    </choices>
    <constants>
        <name>Legal</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://pivotal.io/legal</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_all_fields_populated_for_L1</name>
        <label>Check if all fields populated for L1</label>
        <locationX>372</locationX>
        <locationY>450</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_L1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode1_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>-Please Select-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_populate_L1_fields</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes_L1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode1_0</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>-Please Select-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Contact_belongs_to_Embargo_Country</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_all_fields_populated_for_L2</name>
        <label>Check if all fields populated for L2</label>
        <locationX>770</locationX>
        <locationY>399</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_L2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CountryL2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>-Please Select-</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Best_Method_of_Contact_L2_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>-Please Select-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_populate_L1_fields_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes_L2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryL2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>-Please Select-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Contact_belongs_to_Embargo_Country_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_all_Mandatory_Fields_are_populated_for_L2</name>
        <label>Check if all Mandatory Fields are populated for L2</label>
        <locationX>587</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Any_One_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contactRec.All_L2_Fields_Filled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provide_L2_Profile_Fields_0</targetReference>
            </connector>
            <label>If Any One Blank</label>
        </rules>
        <rules>
            <name>If_Nothing_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactRec.All_L2_Fields_Filled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ParametersList_value_As_None_L2</targetReference>
            </connector>
            <label>If Nothing Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Country_has_been_changed</name>
        <label>Check if Country has been changed</label>
        <locationX>129</locationX>
        <locationY>588</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Country_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode1_0</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SelectedCountryVar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ParametersList_value_L1</targetReference>
            </connector>
            <label>Country Changed</label>
        </rules>
        <rules>
            <name>Country_Not_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode1_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SelectedCountryVar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ParametersList_value_L1_0</targetReference>
            </connector>
            <label>Country Not Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Country_has_been_changed_1</name>
        <label>Check if Country has been changed</label>
        <locationX>1124</locationX>
        <locationY>399</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Country_Changed_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryL2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SelectedCountryVar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ParametersList_value</targetReference>
            </connector>
            <label>Country Changed</label>
        </rules>
        <rules>
            <name>Country_Not_Changed_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryL2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SelectedCountryVar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ParametersList_value_1</targetReference>
            </connector>
            <label>Country Not Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Profile_0</name>
        <label>Check Profile</label>
        <locationX>589</locationX>
        <locationY>157</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>L1_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Profile_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>L1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Country_Populated_0</targetReference>
            </connector>
            <label>L1 Selection</label>
        </rules>
        <rules>
            <name>L2_Selection_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Profile_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>L2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_all_Mandatory_Fields_are_populated_for_L2</targetReference>
            </connector>
            <label>L2 Selection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Embargo_Country</name>
        <label>Embargo Country?</label>
        <locationX>591</locationX>
        <locationY>558</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Embargo_Country_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmbargoCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Embargo_Country_Screen_For_User</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>Embargo_Country_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmbargoCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Time_Login</name>
        <label>First Time Login</label>
        <locationX>806</locationX>
        <locationY>45</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FirstTimeLoginYes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contactRec.First_Time_Login__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactRec.First_Time_Login__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verification_Link</targetReference>
            </connector>
            <label>FirstTimeLoginYes</label>
        </rules>
        <rules>
            <name>FirstTimeLoginNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactRec.First_Time_Login__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L1_or_L2</targetReference>
            </connector>
            <label>FirstTimeLoginNo</label>
        </rules>
    </decisions>
    <decisions>
        <name>L1_or_L2</name>
        <label>L1 or L2?</label>
        <locationX>1273</locationX>
        <locationY>168</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Already_L2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactRec.Interact_with_Community__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactRec.Enable_Portal_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_L2_value_as_Yes</targetReference>
            </connector>
            <label>Already L2</label>
        </rules>
        <rules>
            <name>Already_L1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactRec.Interact_with_Community__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Country_Populated_0</targetReference>
            </connector>
            <label>Already L1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verification_Link</name>
        <label>Verification Link?</label>
        <locationX>538</locationX>
        <locationY>45</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Verification_Link_Present</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VerificationLink</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L1_or_L2</targetReference>
            </connector>
            <label>Verification Link Present</label>
        </rules>
        <rules>
            <name>Verification_Link_Absent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerificationLink</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Profile_0</targetReference>
            </connector>
            <label>Verification Link Absent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Country_Populated_0</name>
        <label>Verify Country Populated</label>
        <locationX>369</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CountryAbsentL1_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contactRec.MailingCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactRec.TermsAndConditions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provide_L1_Fields_0</targetReference>
            </connector>
            <label>CountryAbsentL1</label>
        </rules>
        <rules>
            <name>CountryPresentL1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactRec.MailingCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ParametersList_value_As_None_L1</targetReference>
            </connector>
            <label>CountryPresentL1</label>
        </rules>
    </decisions>
    <description>This flow will be used in the Login Flow for Community Registered User, Community User &amp; Community Manager profiles Users.</description>
    <dynamicChoiceSets>
        <name>BestMethodOfContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Best_Method_of_Contact__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CountryCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MailingCountryCode</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectProduct</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Selection2__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StateProvince</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StateCode</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeZone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Time_Zone__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeZoneSidKey</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TimeZoneSidKey</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>BMCSelectedFormula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!BMCVar},&quot;-Please Select-&quot;)</expression>
    </formulas>
    <formulas>
        <name>SelectedCountryFormula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!SelectedCountryVar},&quot;-Please Select-&quot;)</expression>
    </formulas>
    <formulas>
        <name>TimeZoneSelectedFormula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!TimeZoneVar},&quot;-Please Select-&quot;)</expression>
    </formulas>
    <formulas>
        <description>Id of the Logged in User.</description>
        <name>userId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>vContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Login Flow for Community User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Login Flow for Community User</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Check_if_Contact_belongs_to_Embargo_Country</name>
        <label>Check if Contact belongs to Embargo Country</label>
        <locationX>372</locationX>
        <locationY>589</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Country_has_been_changed</targetReference>
        </connector>
        <filters>
            <field>Embargo_Country_ISO_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CountryCode1_0</elementReference>
            </value>
        </filters>
        <object>US_Embargo_Countries__c</object>
        <outputAssignments>
            <assignToReference>EmbargoCountry</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Check_if_Contact_belongs_to_Embargo_Country_0</name>
        <label>Check if Contact belongs to Embargo Country</label>
        <locationX>947</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Country_has_been_changed_1</targetReference>
        </connector>
        <filters>
            <field>Embargo_Country_ISO_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CountryL2</elementReference>
            </value>
        </filters>
        <object>US_Embargo_Countries__c</object>
        <outputAssignments>
            <assignToReference>EmbargoCountry</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Contact_Data</name>
        <label>Query Contact Data</label>
        <locationX>1140</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_User_Data</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactRec.All_L2_Fields_Filled__c</assignToReference>
            <field>All_L2_Fields_Filled__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Best_Method_of_Contact__c</assignToReference>
            <field>Best_Method_of_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BMCVar</assignToReference>
            <field>Best_Method_of_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Company__c</assignToReference>
            <field>Company__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Enable_Portal_User__c</assignToReference>
            <field>Enable_Portal_User__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.First_Time_Login__c</assignToReference>
            <field>First_Time_Login__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Interact_with_Community__c</assignToReference>
            <field>Interact_with_Community__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedCountryVar</assignToReference>
            <field>MailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.MailingCountryCode</assignToReference>
            <field>MailingCountryCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Pivotal_Customer_Number__c</assignToReference>
            <field>Pivotal_Customer_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Product_Selection2__c</assignToReference>
            <field>Product_Selection2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.RPS_Status__c</assignToReference>
            <field>RPS_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.TermsAndConditions__c</assignToReference>
            <field>TermsAndConditions__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Time_Zone__c</assignToReference>
            <field>Time_Zone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TimeZoneVar</assignToReference>
            <field>Time_Zone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Title</assignToReference>
            <field>Title</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_User_Data</name>
        <label>Query User Data</label>
        <locationX>1003</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_Time_Login</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>VerificationLink</assignToReference>
            <field>UAA_Verification_Link__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Dummy_Screen</name>
        <label>Dummy Screen</label>
        <locationX>906</locationX>
        <locationY>688</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Embargo_Country_Screen_For_User</name>
        <label>Sorry</label>
        <locationX>592</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Force_Logout</targetReference>
        </connector>
        <fields>
            <name>EmbargoCountryMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Pivotal Support Portal Registration&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Unable to Provide Access&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;______________________________&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Unfortunately, we are unable to provide you with access to Pivotal Support at this time. To resolve this, plese send an email to &lt;FONT COLOR=&quot;#00CCCC&quot;&gt;&lt;B&gt;export@pivotal.io&lt;/B&gt;&lt;/FONT&gt; with the following information:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;From: &lt;/B&gt;Using the same email you used in registering for Pivotal Support&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;To:&lt;/B&gt; &lt;FONT COLOR=&quot;#00CCCC&quot;&gt;export@pivotal.io&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Subject:&lt;/B&gt; Seeking help in accessing Pivotal Support&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Email Message:&lt;/B&gt; While attempting to access Pivotal Support, a screen appeared with instructions to email you for assistance - my full name is &lt;FONT KERNING=&quot;1&quot;&gt;{!contactRec.Name}.&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Note:  You will not have access to Pivotal Support until the Export team receives your email and provides assistance.  Following receipt of your email, please allow up to 24 hours for Export to respond.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_populate_L1_fields</name>
        <label>Error</label>
        <locationX>138</locationX>
        <locationY>449</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Provide_L1_Fields_0</targetReference>
        </connector>
        <fields>
            <name>AllL1FieldsMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Country field is mandatory. Please go back to previous screen and populate it.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_populate_L1_fields_0</name>
        <label>Error</label>
        <locationX>769</locationX>
        <locationY>510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Provide_L2_Profile_Fields_0</targetReference>
        </connector>
        <fields>
            <name>AllL1FieldsMessage_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;The Country and Best Method of Contact fields are mandatory. Please go back to previous screen and populate them.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provide_L1_Fields_0</name>
        <label>Provide L1 Fields</label>
        <locationX>370</locationX>
        <locationY>286</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_all_fields_populated_for_L1</targetReference>
        </connector>
        <fields>
            <name>PivotalRegistrationL1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Pivotal Support&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LineBreak1</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GetStarted</name>
            <fieldText>Get started!
&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CountryCode1_0</name>
            <choiceReferences>CountryChoice</choiceReferences>
            <choiceReferences>CountryCode</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CountryChoice</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Country of Residence&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LineBreak2</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TermsAndConditionsL1_0</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Yes, I have read and consent to the &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Pivotal Community Terms of Use &amp;amp; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Rules of Engagement&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please mark your consent and then click Next.&lt;/FONT&gt;&lt;/DIV&gt;</errorMessage>
                <formulaExpression>TermsAndConditionsL1_0 == true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>LineBreak4</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TermsAndConditionsLink</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;View &lt;A HREF=&quot;http://pivotal.io/support/community-terms-of-use&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Pivotal Community Terms of Use&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PivotalRulesOfEngagement</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;View &lt;A HREF=&quot;http://pivotal.io/support/rules-of-engagement&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Pivotal Community Rules of Engagement&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provide_L2_Profile_Fields_0</name>
        <label>Provide L2 Profile Fields</label>
        <locationX>588</locationX>
        <locationY>400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_all_fields_populated_for_L2</targetReference>
        </connector>
        <fields>
            <name>PivotalSupportRegistrationL2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Pivotal Support&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Get started&lt;FONT STYLE=&quot;font-size:16px&quot;&gt;!&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CompanyL2_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>contactRec.Company__c</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Company&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TitleL2_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>contactRec.Title</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Title&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CountryL2</name>
            <choiceReferences>CountryChoice</choiceReferences>
            <choiceReferences>CountryCode</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CountryChoice</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Country of Residence&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pivotal_Customer_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>contactRec.Pivotal_Customer_Number__c</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Pivotal Customer Number (if known)&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Time_ZoneL2_0</name>
            <choiceReferences>TimeZoneChoice</choiceReferences>
            <choiceReferences>TimeZone</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TimeZoneChoice</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Time Zone&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Primary_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Phone</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Phone Number&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Enter up to 10 alpahnumeric digits with no formatting or punctuation.&lt;/FONT&gt;&lt;/DIV&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Phone number should consist only of numbers and its maximum length can be 15 digits.</errorMessage>
                <formulaExpression>LEN(Primary_Phone) &lt; 16</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Best_Method_of_Contact_L2_0</name>
            <choiceReferences>BestMethodOfContactChoice</choiceReferences>
            <choiceReferences>BestMethodOfContact</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>BestMethodOfContactChoice</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Best Method of Contact&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TermsAndConditionsL2_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>contactRec.TermsAndConditions__c</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Yes, I have read and consent to &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;the Pivotal Community Terms &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;of Use &amp;amp; Rules of Engagement&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please mark your consent and then click Next.&lt;/FONT&gt;&lt;/DIV&gt;</errorMessage>
                <formulaExpression>{!TermsAndConditionsL2_0} == true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>LineBreak6</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TermsAndConditionsLinkL2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;View &lt;A HREF=&quot;http://pivotal.io/support/community-terms-of-use&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Pivotal Community Terms of Use&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PivotalRuleOfEngagement2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;View &lt;A HREF=&quot;http://pivotal.io/support/rules-of-engagement&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Pivotal Community Rules of Engagement&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Profile_0</name>
        <label>Select Profile</label>
        <locationX>245</locationX>
        <locationY>44</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Profile_0</targetReference>
        </connector>
        <fields>
            <name>PivotalSupportProfileSelection</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Pivotal Support Community Registration&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Welcome to Pivotal Support&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;__________________________________________________&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LineBreak0</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Profile_0</name>
            <choiceReferences>L1</choiceReferences>
            <choiceReferences>L2</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>L1</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please SELECT the access level &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;you are requesting for the Pivotal Support Community:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Query_Contact_Data</startElementReference>
    <textTemplates>
        <description>Line Break</description>
        <name>NewLine</name>
        <text>&lt;br/&gt;</text>
    </textTemplates>
    <variables>
        <name>AlreadyL2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BMCVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EmbargoCountry</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ParametersList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCountryVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeZoneVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VerificationLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
