src/flows/Login_Flow_for_Community-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>822</locationX>
        <locationY>396</locationY>
        <actionName>ContactUpdateApexController</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>fieldValues</name>
            <value>
                <elementReference>ParametersList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Contact_For_L1</name>
        <label>Update Contact For L1</label>
        <locationX>142</locationX>
        <locationY>511</locationY>
        <actionName>ContactUpdateApexControllerL1</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Embargo_Country</targetReference>
        </connector>
        <inputParameters>
            <name>fieldValues</name>
            <value>
                <elementReference>ParametersList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Contact_None_For_L1</name>
        <label>Update Contact None For L1</label>
        <locationX>52</locationX>
        <locationY>279</locationY>
        <actionName>ContactUpdateApexControllerL1</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>fieldValues</name>
            <value>
                <elementReference>ParametersList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Contact_None_For_L2</name>
        <label>Update Contact None For L2</label>
        <locationX>874</locationX>
        <locationY>277</locationY>
        <actionName>ContactUpdateApexControllerL1</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>fieldValues</name>
            <value>
                <elementReference>ParametersList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Force_Logout</name>
        <label>Set Force Logout</label>
        <locationX>650</locationX>
        <locationY>513</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dummy_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ParametersList_value</name>
        <label>Set ParametersList value</label>
        <locationX>666</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id={!vContactId}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Best_Method_of_Contact__c={!Best_Method_of_Contact_L2_0}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Contact_Company__c={!CompanyL2_0}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Phone={!Primary_Phone}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Product_Selection_MP__c={!Select_ProductL2_0}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>TermsAndConditions__c={!TermsAndConditionsL2_0}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Time_Zone__c={!Time_ZoneL2_0}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Title={!TitleL2_0}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>MailingCountryCode={!CountryL2}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PCN={!Pivotal_Customer_Number}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ParametersList_value_As_None_L1</name>
        <label>Set ParametersList value As None L1</label>
        <locationX>52</locationX>
        <locationY>153</locationY>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id={!vContactId}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_None_For_L1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ParametersList_value_As_None_L2</name>
        <label>Set ParametersList value As None L2</label>
        <locationX>720</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id={!vContactId}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_None_For_L2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ParametersList_value_L1</name>
        <label>Set ParametersList value L1</label>
        <locationX>142</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id={!vContactId}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>TermsAndConditions__c={!TermsAndConditionsL1_0}~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParametersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>MailingCountryCode={!CountryCode1_0}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_For_L1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BestMethodOfContactValue</name>
        <choiceText>BestMethodOfContactValue</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>BMC</elementReference>
        </value>
    </choices>
    <choices>
        <name>ContinueAsL1</name>
        <choiceText>Continue As L1.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>L1</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;I want to view Pivotal Knowledge Articles&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;and participate in Discussion forums&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L1</stringValue>
        </value>
    </choices>
    <choices>
        <name>L2</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;In addition to Knowledge Articles and Discussion Forums, I also have a Pivotal Subscription and may open Cases with Pivotal Support&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L2</stringValue>
        </value>
    </choices>
    <choices>
        <name>TimeZoneChoice</name>
        <choiceText>TimeZoneChoice</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>TimeZone1</elementReference>
        </value>
    </choices>
    <choices>
        <name>vBestMethodOfContact</name>
        <choiceText>vBestMethodOfContact</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>contactRec.Best_Method_of_Contact__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>vTimeZone</name>
        <choiceText>vTimeZone</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>contactRec.Time_Zone__c</elementReference>
        </value>
    </choices>
    <constants>
        <name>Legal</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://pivotal.io/legal</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_all_Mandatory_Fields_are_populated_for_L2</name>
        <label>Check if all Mandatory Fields are populated for L2</label>
        <locationX>508</locationX>
        <locationY>273</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Any_One_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contactRec.All_L2_Fields_Filled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provide_L2_Profile_Fields_0</targetReference>
            </connector>
            <label>If Any One Blank</label>
        </rules>
        <rules>
            <name>If_Nothing_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactRec.All_L2_Fields_Filled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ParametersList_value_As_None_L2</targetReference>
            </connector>
            <label>If Nothing Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Profile_0</name>
        <label>Check Profile</label>
        <locationX>510</locationX>
        <locationY>152</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>L1_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Profile_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>L1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Country_Populated_0</targetReference>
            </connector>
            <label>L1 Selection</label>
        </rules>
        <rules>
            <name>L2_Selection_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Profile_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>L2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_all_Mandatory_Fields_are_populated_for_L2</targetReference>
            </connector>
            <label>L2 Selection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Embargo_Country</name>
        <label>Embargo Country?</label>
        <locationX>292</locationX>
        <locationY>513</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Embargo_Country_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmbargoCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Embargo_Country_Screen_For_User</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>Embargo_Country_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmbargoCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Profile_check</name>
        <label>Profile check</label>
        <locationX>787</locationX>
        <locationY>49</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FirstTimeLoginYes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contactRec.First_Time_Login__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactRec.First_Time_Login__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Profile_0</targetReference>
            </connector>
            <label>FirstTimeLoginYes</label>
        </rules>
        <rules>
            <name>FirstTimeLoginNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactRec.First_Time_Login__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <label>FirstTimeLoginNo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Country_Populated_0</name>
        <label>Verify Country Populated</label>
        <locationX>290</locationX>
        <locationY>153</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CountryAbsentL1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactRec.MailingCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provide_L1_Fields_0</targetReference>
            </connector>
            <label>CountryAbsentL1</label>
        </rules>
        <rules>
            <name>CountryPresentL1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactRec.MailingCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ParametersList_value_As_None_L1</targetReference>
            </connector>
            <label>CountryPresentL1</label>
        </rules>
    </decisions>
    <description>This flow will be used in the Login Flow for Community Registered User, Community User &amp; Community Manager profiles Users.</description>
    <dynamicChoiceSets>
        <name>BestMethodOfContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Best_Method_of_Contact__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CountryCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MailingCountryCode</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectProduct</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Selection2__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StateProvince</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StateCode</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeZone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Time_Zone__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeZoneSidKey</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TimeZoneSidKey</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>vContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Login Flow for Community {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Login Flow for Community</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Check_if_Contact_belongs_to_Embargo_Country</name>
        <label>Check if Contact belongs to Embargo Country</label>
        <locationX>290</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_ParametersList_value_L1</targetReference>
        </connector>
        <filters>
            <field>Embargo_Country_ISO_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CountryCode1_0</elementReference>
            </value>
        </filters>
        <object>US_Embargo_Countries__c</object>
        <outputAssignments>
            <assignToReference>EmbargoCountry</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Contact_Data</name>
        <label>Query Contact Data</label>
        <locationX>969</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Profile_check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactRec.All_L2_Fields_Filled__c</assignToReference>
            <field>All_L2_Fields_Filled__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Best_Method_of_Contact__c</assignToReference>
            <field>Best_Method_of_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BMC</assignToReference>
            <field>Best_Method_of_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Contact_Company__c</assignToReference>
            <field>Contact_Company__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Enable_Portal_User__c</assignToReference>
            <field>Enable_Portal_User__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.First_Time_Login__c</assignToReference>
            <field>First_Time_Login__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Interact_with_Community__c</assignToReference>
            <field>Interact_with_Community__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.MailingCountryCode</assignToReference>
            <field>MailingCountryCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Pivotal_Customer_Number__c</assignToReference>
            <field>Pivotal_Customer_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Product_Selection__c</assignToReference>
            <field>Product_Selection__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.RPS_Status__c</assignToReference>
            <field>RPS_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.TermsAndConditions__c</assignToReference>
            <field>TermsAndConditions__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Time_Zone__c</assignToReference>
            <field>Time_Zone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TimeZone1</assignToReference>
            <field>Time_Zone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRec.Title</assignToReference>
            <field>Title</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Dummy_Screen</name>
        <label>Dummy Screen</label>
        <locationX>808</locationX>
        <locationY>512</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Embargo_Country_Screen_For_User</name>
        <label>Sorry</label>
        <locationX>461</locationX>
        <locationY>514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Force_Logout</targetReference>
        </connector>
        <fields>
            <name>EmbargoCountryMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Pivotal Support Portal Registration&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Unable to Provide Access&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;______________________________&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Unfortunately, we are unable to provide you with access to Pivotal Support at this time. To resolve this, plese send an email to &lt;FONT COLOR=&quot;#00CCCC&quot;&gt;&lt;B&gt;export@pivotal.io&lt;/B&gt;&lt;/FONT&gt; with the following information:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;From: &lt;/B&gt;Using the same email you used in registering for Pivotal Support&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;To:&lt;/B&gt; &lt;FONT COLOR=&quot;#00CCCC&quot;&gt;export@pivotal.io&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Subject:&lt;/B&gt; Seeking help in accessing Pivotal Support&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Email Message:&lt;/B&gt; While attempting to access Pivotal Support, a screen appeared with instructions to email you for assistance - my full name is &lt;FONT KERNING=&quot;1&quot;&gt;{!contactRec.Name}.&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Note:  You will not have access to Pivotal Support until the Export team receives your email and provides assistance.  Following receipt of your email, please allow up to 24 hours for Export to respond.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provide_L1_Fields_0</name>
        <label>Provide L1 Fields</label>
        <locationX>291</locationX>
        <locationY>281</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_Contact_belongs_to_Embargo_Country</targetReference>
        </connector>
        <fields>
            <name>PivotalRegistrationL1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Pivotal Support Community Registration&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Welcome to Pivotal Support&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please complete your profile to enable the best support experience.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;________________________________________________________________________&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LineBreak1</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CountryCode1_0</name>
            <choiceReferences>CountryCode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Country of Residence&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LineBreak2</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PivotalTermsConditions</name>
            <fieldText>Welcome to the Pivotal Support Community from Pivotal Software, Inc. (“Pivotal”). By accessing, browsing, or using any of the services on the Support Community website, you agree to be bound by the applicable Pivotal Terms of Use, Support Community Terms of Use, Rules of Engagement and Privacy Policy (together, the “Policies”). Pivotal reserves the right to change or modify any of the Policies or any policy or guideline referenced herein at any time and in its sole discretion. If the Policies are changed, we will post the new terms and change the date accordingly. Any changes or modifications will be effective upon public posting of the revised Policies, and your access to and use of the Support Community following the posting of such changes or modifications will constitute your acceptance of the Policies as revised.

Please refer to the Support Community Terms of Use, Rules of Engagement, Pivotal Websites Terms of Use, Pivotal’s Privacy Policy, and Pivotal’s Trademark Guidelines.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LineBreak8</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TermsAndConditionsL1_0</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;I ACCEPT the Pivotal Support Community Terms &amp;amp; Conditions&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please accept the Pivotal Support Terms &amp;amp; Conditions to access the Pivotal Support Community&lt;/FONT&gt;&lt;/DIV&gt;</errorMessage>
                <formulaExpression>TermsAndConditionsL1_0 == true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>LineBreak4</name>
            <fieldText>&lt;br/&gt;
&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PivotalTermsOfUse</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://pivotal.io/legal&quot; TARGET=&quot;_blank&quot;&gt;View &lt;/A&gt;&lt;A HREF=&quot;https://pivotal.io/legal&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Pivotal&amp;apos;s Terms of Use&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TermsAndConditionsLink</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://pivotal.io/legal/&quot; TARGET=&quot;_blank&quot;&gt;View &lt;/A&gt;&lt;A HREF=&quot;https://pivotal.io/legal/&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Pivotal&amp;apos;s  Support Community Terms of Use&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PivotalRulesOfEngagement</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://pivotal.io/legal/&quot; TARGET=&quot;_blank&quot;&gt;View &lt;/A&gt;&lt;A HREF=&quot;https://pivotal.io/legal/&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Pivotal&amp;apos;s Rules of Engagement&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PivotalWebsitesTermsOfUse</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://pivotal.io/terms-of-use&quot; TARGET=&quot;_blank&quot;&gt;View &lt;/A&gt;&lt;A HREF=&quot;https://pivotal.io/terms-of-use&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Pivotal&amp;apos;s Websites Terms of Use&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PivotalPrivacyPolicy</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://pivotal.io/privacy-policy&quot; TARGET=&quot;_blank&quot;&gt;View &lt;/A&gt;&lt;A HREF=&quot;https://pivotal.io/privacy-policy&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Pivotal&amp;apos;s Privacy &amp;amp; Cookie Policy&lt;/B&gt;&lt;/A&gt;&lt;A HREF=&quot;https://pivotal.io/privacy-policy&quot; TARGET=&quot;_blank&quot;&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PivotalTrademarkGuidelines</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://pivotal.io/trademark-guidelines&quot; TARGET=&quot;_blank&quot;&gt;View &lt;/A&gt;&lt;A HREF=&quot;https://pivotal.io/trademark-guidelines&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Pivotal&amp;apos;s Trademark Guidelines&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provide_L2_Profile_Fields_0</name>
        <label>Provide L2 Profile Fields</label>
        <locationX>511</locationX>
        <locationY>395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_ParametersList_value</targetReference>
        </connector>
        <fields>
            <name>PivotalSupportRegistrationL2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Pivotal Support Community Registration&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Welcome to Pivotal Support&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please complete your profile to enable the best support experience:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;______________________________________________&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br/&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CompanyL2_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>contactRec.Contact_Company__c</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Company&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TitleL2_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>contactRec.Title</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Title&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CountryL2</name>
            <choiceReferences>CountryCode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Country of Residence&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pivotal_Customer_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>contactRec.Pivotal_Customer_Number__c</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Pivotal Customer Number&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Time_ZoneL2_0</name>
            <choiceReferences>TimeZone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Time Zone&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Best_Method_of_Contact_L2_0</name>
            <choiceReferences>BestMethodOfContact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Best Method of Contact&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Primary_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Phone</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Primary Phone&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Enter up to 10 alpahnumeric digits with no formatting or punctuation.&lt;/FONT&gt;&lt;/DIV&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Phone number should consist only of numbers and it&apos;s maximum length can be 10 digits.</errorMessage>
                <formulaExpression>ISNUMBER (Primary_Phone) &amp;&amp; LEN(Primary_Phone) &lt; 11</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Select_ProductL2_0</name>
            <choiceReferences>SelectProduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Pivotal Products&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Separator_0</name>
            <fieldText>____________________________________________
&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PivotalTermsConditions2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Welcome to the Pivotal Support Community from Pivotal Software, Inc. (“Pivotal”). By accessing, browsing, or using any of the services on the Support Community website, you agree to be bound by the applicable Pivotal Terms of Use, Support Community Terms of Use, Rules of Engagement and Privacy Policy (together, the “Policies”). Pivotal reserves the right to change or modify any of the Policies or any policy or guideline referenced herein at any time and in its sole discretion. If the Policies are changed, we will post the new terms and change the date accordingly. Any changes or modifications will be effective upon public posting of the revised Policies, and your access to and use of the Support Community following the posting of such changes or modifications will constitute your acceptance of the Policies as revised.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please refer to the Support Community Terms of Use, Rules of Engagement, Pivotal Websites Terms of Use, Pivotal’s Privacy Policy, and Pivotal’s Trademark Guidelines.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br/&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TermsAndConditionsL2_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>contactRec.TermsAndConditions__c</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;I ACCEPT the Pivotal Support &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Community Terms &amp;amp; Conditions&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please accept the Terms &amp; Conditions to access the Pivotal Support Community.</errorMessage>
                <formulaExpression>{!TermsAndConditionsL2_0} == true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>LineBreak6</name>
            <fieldText>&lt;br/&gt;
&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PivotalTermsOfUse2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://pivotal.io/legal&quot; TARGET=&quot;_blank&quot;&gt;View &lt;/A&gt;&lt;A HREF=&quot;https://pivotal.io/legal&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Pivotal&amp;apos;s Terms of Use&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TermsAndConditionsLinkL2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://pivotal.io/legal/&quot; TARGET=&quot;_blank&quot;&gt;View &lt;/A&gt;&lt;A HREF=&quot;https://pivotal.io/legal/&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Pivotal&amp;apos;s Support Community Terms of Use&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PivotalRuleOfEngagement2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://pivotal.io/legal/&quot; TARGET=&quot;_blank&quot;&gt;View &lt;/A&gt;&lt;A HREF=&quot;https://pivotal.io/legal/&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Pivotal&amp;apos;s Rules of Engagement&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PivotalWebsitesTermsOfUse2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://pivotal.io/terms-of-use&quot; TARGET=&quot;_blank&quot;&gt;View &lt;/A&gt;&lt;A HREF=&quot;https://pivotal.io/terms-of-use&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Pivotal&amp;apos;s Websites Terms of Use&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PivotalsPrivacyPolicy2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://pivotal.io/privacy-policy&quot; TARGET=&quot;_blank&quot;&gt;View &lt;/A&gt;&lt;A HREF=&quot;https://pivotal.io/privacy-policy&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Pivotal&amp;apos;s Privacy &amp;amp; Cookie Policy&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PivotalTrademarkGuidelines2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://pivotal.io/trademark-guidelines&quot; TARGET=&quot;_blank&quot;&gt;View &lt;/A&gt;&lt;A HREF=&quot;https://pivotal.io/trademark-guidelines&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Pivotal&amp;apos;s Trademark Guidelines&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Profile_0</name>
        <label>Select Profile</label>
        <locationX>509</locationX>
        <locationY>47</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Profile_0</targetReference>
        </connector>
        <fields>
            <name>PivotalSupportProfileSelection</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Pivotal Support Community Registration&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Welcome to Pivotal Support&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;__________________________________________________&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LineBreak0</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Profile_0</name>
            <choiceReferences>L1</choiceReferences>
            <choiceReferences>L2</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>L1</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please SELECT the access level &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;you are requesting for the Pivotal Support Portal:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#009999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Query_Contact_Data</startElementReference>
    <textTemplates>
        <description>Line Break</description>
        <name>NewLine</name>
        <text>&lt;br/&gt;</text>
    </textTemplates>
    <variables>
        <name>BMC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EmbargoCountry</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ParametersList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeZone1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
