src/flows/Opportunity_Update_non_primary_quotes_on_Close-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Set_RecordTypeId_based_in_Current</name>
        <label>Set RecordTypeId based in Current</label>
        <locationX>576</locationX>
        <locationY>81</locationY>
        <defaultConnector>
            <targetReference>Update_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQuoteReadOnly.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012U0000000XO1MIAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Amendment</targetReference>
            </connector>
            <label>Amendment</label>
        </rules>
        <rules>
            <name>Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQuoteReadOnly.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012U0000000XO1OIAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cancellation</targetReference>
            </connector>
            <label>Cancellation</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQuoteReadOnly.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012U0000000XO1SIAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Renewal</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity - Update non-primary quotes on Close {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Update non-primary quotes on Close</label>
    <loops>
        <name>Update_RecordTypeID_to_Read_Only</name>
        <label>Update RecordTypeID to Read Only</label>
        <locationX>269</locationX>
        <locationY>313</locationY>
        <assignNextValueToReference>varQuoteReadOnly</assignNextValueToReference>
        <collectionReference>colQuotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_RecordTypeId_based_in_Current</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_non_primary_quotes_for_this_opportunity</name>
        <label>Get all non-primary quotes for this opportunity</label>
        <locationX>274</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_RecordTypeID_to_Read_Only</targetReference>
        </connector>
        <filters>
            <field>Primary_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>zqu__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunity</elementReference>
            </value>
        </filters>
        <object>zqu__Quote__c</object>
        <outputReference>colQuotes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Amendment</name>
        <label>Update Amendment</label>
        <locationX>841</locationX>
        <locationY>114</locationY>
        <connector>
            <targetReference>Update_RecordTypeID_to_Read_Only</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteReadOnly.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012U0000000XO1NIAW</stringValue>
            </value>
        </inputAssignments>
        <object>zqu__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cancellation</name>
        <label>Update Cancellation</label>
        <locationX>758</locationX>
        <locationY>270</locationY>
        <connector>
            <targetReference>Update_RecordTypeID_to_Read_Only</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteReadOnly.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012U0000000XO1PIAW</stringValue>
            </value>
        </inputAssignments>
        <object>zqu__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Default</name>
        <label>Update Default</label>
        <locationX>461</locationX>
        <locationY>465</locationY>
        <connector>
            <targetReference>Update_RecordTypeID_to_Read_Only</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteReadOnly.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012U0000000XO1RIAW</stringValue>
            </value>
        </inputAssignments>
        <object>zqu__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal</name>
        <label>Update Renewal</label>
        <locationX>613</locationX>
        <locationY>371</locationY>
        <connector>
            <targetReference>Update_RecordTypeID_to_Read_Only</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteReadOnly.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012U0000000XO1TIAW</stringValue>
            </value>
        </inputAssignments>
        <object>zqu__Quote__c</object>
    </recordUpdates>
    <startElementReference>Get_all_non_primary_quotes_for_this_opportunity</startElementReference>
    <variables>
        <name>colQuotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>zqu__Quote__c</objectType>
    </variables>
    <variables>
        <name>varOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQuoteReadOnly</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>zqu__Quote__c</objectType>
    </variables>
</Flow>
