src/flows/Quote_Sent_To_OM-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_error_email</name>
        <label>Send error email</label>
        <locationX>431</locationX>
        <locationY>412</locationY>
        <actionName>zqu__Quote__c.Quote_for_OM_Error</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_notification_to_Brigette_Riviere</name>
        <label>Send notification to Brigette Riviere</label>
        <locationX>1187</locationX>
        <locationY>737</locationY>
        <actionName>zqu__Quote__c.Quote_for_OM_BR</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_notification_to_Chris_Braney</name>
        <label>Send notification to Chris Braney</label>
        <locationX>1164</locationX>
        <locationY>435</locationY>
        <actionName>zqu__Quote__c.Quote_for_OM_CB</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_notification_to_Jayme_Gorman</name>
        <label>Send notification to Jayme Gorman</label>
        <locationX>1177</locationX>
        <locationY>584</locationY>
        <actionName>zqu__Quote__c.Quote_for_OM_JG</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_notification_to_OM</name>
        <label>Send notification to OM</label>
        <locationX>679</locationX>
        <locationY>825</locationY>
        <actionName>zqu__Quote__c.Quote_for_OM_nonAMER</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_notification_to_Perrisa_Joorabchi</name>
        <label>Send notification to Perrisa Joorabchi</label>
        <locationX>899</locationX>
        <locationY>761</locationY>
        <actionName>zqu__Quote__c.Quote_for_OM_PJ</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sent_notification_to_OM_for_CW</name>
        <label>Sent notification to OM for Chris Wate</label>
        <locationX>1155</locationX>
        <locationY>333</locationY>
        <actionName>zqu__Quote__c.Quote_for_OM_CW</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>BusManager</name>
        <label>Business Manager</label>
        <locationX>672</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Send_notification_to_OM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-AMER business manager</defaultConnectorLabel>
        <rules>
            <name>CW</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BusinessManager</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chris Want</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_notification_to_OM_for_CW</targetReference>
            </connector>
            <label>Chris Want</label>
        </rules>
        <rules>
            <name>CB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessManager</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chris Braney</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_notification_to_Chris_Braney</targetReference>
            </connector>
            <label>Chris Braney</label>
        </rules>
        <rules>
            <name>JG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessManager</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jayme Gorman</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_notification_to_Jayme_Gorman</targetReference>
            </connector>
            <label>Jayme Gorman</label>
        </rules>
        <rules>
            <name>PJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessManager</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perrisa Joorabchi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_notification_to_Perrisa_Joorabchi</targetReference>
            </connector>
            <label>Perrisa Joorabchi</label>
        </rules>
        <rules>
            <name>BR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessManager</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brigitte Riviere</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_notification_to_Brigette_Riviere</targetReference>
            </connector>
            <label>Brigitte Riviere</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quote_approved_and_Primary</name>
        <label>Is Quote approved and Primary?</label>
        <locationX>428</locationX>
        <locationY>231</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApproval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPrimaryQuote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sent_to_OM_on_Quote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varApproval</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPrimaryQuote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_error_email</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Update the Sent to OM flag on the quote, email Order Management group</description>
    <interviewLabel>Quote-Sent To OM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote-Sent To OM</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Business_Manager</name>
        <label>Get Business Manager</label>
        <locationX>672</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BusManager</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>BusinessManager</assignToReference>
            <field>Business_Manager__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RetrieveQuote</name>
        <label>RetrieveQuote</label>
        <locationX>60</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Quote_approved_and_Primary</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </filters>
        <object>zqu__Quote__c</object>
        <outputAssignments>
            <assignToReference>varApproval</assignToReference>
            <field>Approval__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varChannel</assignToReference>
            <field>Channel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOMStatus</assignToReference>
            <field>OM_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPrimaryQuote</assignToReference>
            <field>Primary_Quote__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOppID</assignToReference>
            <field>zqu__Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sent_to_OM_on_Quote</name>
        <label>Update Sent to OM on Quote</label>
        <locationX>672</locationX>
        <locationY>87</locationY>
        <connector>
            <targetReference>Get_Business_Manager</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OM_Status__c</field>
            <value>
                <stringValue>Sent to OM</stringValue>
            </value>
        </inputAssignments>
        <object>zqu__Quote__c</object>
    </recordUpdates>
    <startElementReference>RetrieveQuote</startElementReference>
    <variables>
        <name>BusinessManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApproval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOMStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPrimaryQuote</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSentToOM</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
