src/flows/Quote_Populate_ApproveMail-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>ApproveLine_existing</name>
        <label>ApproveLine existing?</label>
        <locationX>59</locationX>
        <locationY>185</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scolApproveLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_AppoveLine_items</targetReference>
            </connector>
            <label>Yes-Delete</label>
        </rules>
        <rules>
            <name>No_Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scolApproveLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_QRPC_records_for_Quote</targetReference>
            </connector>
            <label>No-Proceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>QRPC_to_add</name>
        <label>QRPC to add?</label>
        <locationX>397</locationX>
        <locationY>315</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scolQRPC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_QRPC_and_add_to_OrderConfLIne</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scolQRPC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>TotalUnitListPrice</name>
        <dataType>Number</dataType>
        <expression>{!sobjQRPCLoop.TCV_USD_Formula__c}/(1-{!sobjQRPCLoop.ApproveDiscount__c}/100)/{!sobjQRPCLoop.zqu__Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Quote-Populate ApproveMail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote-Populate ApproveMail</label>
    <loops>
        <name>Loop_through_QRPC_and_add_to_OrderConfLIne</name>
        <label>Loop through QRPC and add to OrderConfLIne</label>
        <locationX>688</locationX>
        <locationY>319</locationY>
        <assignNextValueToReference>sobjQRPCLoop</assignNextValueToReference>
        <collectionReference>scolQRPC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_OrderConfLine</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OrderConfLine</name>
        <label>Create Approve Line</label>
        <locationX>961</locationX>
        <locationY>315</locationY>
        <connector>
            <targetReference>Loop_through_QRPC_and_add_to_OrderConfLIne</targetReference>
        </connector>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>sobjQRPCLoop.ApproveDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Name__c</field>
            <value>
                <elementReference>sobjQRPCLoop.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qty__c</field>
            <value>
                <elementReference>sobjQRPCLoop.zqu__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCV__c</field>
            <value>
                <elementReference>sobjQRPCLoop.TCV_USD_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Unit_List_Price__c</field>
            <value>
                <elementReference>TotalUnitListPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UOM__c</field>
            <value>
                <elementReference>sobjQRPCLoop.zqu__UOM__c</elementReference>
            </value>
        </inputAssignments>
        <object>ApproveLine__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_AppoveLine_items</name>
        <label>Delete AppoveLine items</label>
        <locationX>60</locationX>
        <locationY>326</locationY>
        <connector>
            <targetReference>Get_QRPC_records_for_Quote</targetReference>
        </connector>
        <inputReference>scolApproveLineItems</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_ApproveMail</name>
        <label>Get ApproveMail</label>
        <locationX>59</locationX>
        <locationY>79</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ApproveLine_existing</targetReference>
        </connector>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </filters>
        <object>ApproveLine__c</object>
        <outputReference>scolApproveLineItems</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_QRPC_records_for_Quote</name>
        <label>Get QRPC records for Quote</label>
        <locationX>399</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QRPC_to_add</targetReference>
        </connector>
        <filters>
            <field>Quote_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </filters>
        <object>zqu__QuoteRatePlanCharge__c</object>
        <outputReference>scolQRPC</outputReference>
        <queriedFields>SKU__c</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>zqu__Quantity__c</queriedFields>
        <queriedFields>zqu__UOM__c</queriedFields>
        <queriedFields>ApproveDiscount__c</queriedFields>
        <queriedFields>TCV_USD_Formula__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>Get_ApproveMail</startElementReference>
    <variables>
        <name>fTotalUnitListPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>scolApproveLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApproveLine__c</objectType>
    </variables>
    <variables>
        <name>scolQRPC</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>zqu__QuoteRatePlanCharge__c</objectType>
    </variables>
    <variables>
        <name>sobjQRPCLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>zqu__QuoteRatePlanCharge__c</objectType>
    </variables>
    <variables>
        <name>varQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
