src/flows/Quote_Populate_OrderConfLine-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Existing_ConfLines</name>
        <label>Existing ConfLines?</label>
        <locationX>358</locationX>
        <locationY>297</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjConfLInes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_existing_ConfLines</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
        <rules>
            <name>No_Existing_Lines_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjConfLInes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_QRPC_records_for_Quote</targetReference>
            </connector>
            <label>No Existing Lines - Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>QRPC_to_add</name>
        <label>QRPC to add?</label>
        <locationX>808</locationX>
        <locationY>241</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scolQRPC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_QRPC_and_add_to_OrderConfLIne</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scolQRPC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>fnQuote18</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!varQuoteId})</expression>
    </formulas>
    <interviewLabel>Quote-Populate OrderConfLine {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote-Populate OrderConfLine</label>
    <loops>
        <name>Loop_through_QRPC_and_add_to_OrderConfLIne</name>
        <label>Loop through QRPC and add to OrderConfLIne</label>
        <locationX>1027</locationX>
        <locationY>204</locationY>
        <assignNextValueToReference>sobjQRPCLoop</assignNextValueToReference>
        <collectionReference>scolQRPC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_OrderConfLine</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OrderConfLine</name>
        <label>Create OrderConfLine</label>
        <locationX>1230</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>Loop_through_QRPC_and_add_to_OrderConfLIne</targetReference>
        </connector>
        <inputAssignments>
            <field>Duration__c</field>
            <value>
                <elementReference>sobjQRPCLoop.ConfYears__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>sobjQRPCLoop.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Name__c</field>
            <value>
                <elementReference>sobjQRPCLoop.Product_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qty__c</field>
            <value>
                <elementReference>sobjQRPCLoop.zqu__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SKU__c</field>
            <value>
                <elementReference>sobjQRPCLoop.SKU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Period__c</field>
            <value>
                <elementReference>sobjQRPCLoop.ConfDateRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UOM__c</field>
            <value>
                <elementReference>sobjQRPCLoop.zqu__UOM__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderConfLine__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_existing_ConfLines</name>
        <label>Delete existing ConfLines</label>
        <locationX>548</locationX>
        <locationY>110</locationY>
        <connector>
            <targetReference>Get_QRPC_records_for_Quote</targetReference>
        </connector>
        <inputReference>sobjConfLInes</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Existing_ConfLineItems</name>
        <label>Get ExistingConfLines</label>
        <locationX>220</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_ConfLines</targetReference>
        </connector>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </filters>
        <object>OrderConfLine__c</object>
        <outputReference>sobjConfLInes</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_QRPC_records_for_Quote</name>
        <label>Get QRPC records for Quote</label>
        <locationX>810</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QRPC_to_add</targetReference>
        </connector>
        <filters>
            <field>Product_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>SaaS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quote_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fnQuote18</elementReference>
            </value>
        </filters>
        <filters>
            <field>SKU__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>SSS-1034</stringValue>
            </value>
        </filters>
        <filters>
            <field>SKU__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>SSS-1035</stringValue>
            </value>
        </filters>
        <object>zqu__QuoteRatePlanCharge__c</object>
        <outputReference>scolQRPC</outputReference>
        <queriedFields>SKU__c</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>zqu__Quantity__c</queriedFields>
        <queriedFields>zqu__UOM__c</queriedFields>
        <queriedFields>ConfDateRange__c</queriedFields>
        <queriedFields>ConfYears__c</queriedFields>
    </recordLookups>
    <startElementReference>Existing_ConfLineItems</startElementReference>
    <variables>
        <name>scolQRPC</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>zqu__QuoteRatePlanCharge__c</objectType>
    </variables>
    <variables>
        <name>sobjConfLInes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderConfLine__c</objectType>
    </variables>
    <variables>
        <name>sobjQRPCLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>zqu__QuoteRatePlanCharge__c</objectType>
    </variables>
    <variables>
        <name>varQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
