src/flows/Quote_Discount_Update-24.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_ApproveRoyaltyCount</name>
        <label>Set ApproveRoyaltyCount</label>
        <locationX>1408</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>varApproveRoyaltyCounty</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Availability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Availability_Count</name>
        <label>Set Availability Count</label>
        <locationX>449</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>varApproveAvailabilityCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Max_Discounts_by_Approval_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PartnerCount</name>
        <label>Set PartnerCount</label>
        <locationX>1399</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>varPartnerCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Availability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SaaSCount</name>
        <label>Set SaaSCount</label>
        <locationX>1403</locationX>
        <locationY>147</locationY>
        <assignmentItems>
            <assignToReference>varSaaSCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Availability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetEDUCount</name>
        <label>SetEDUCount</label>
        <locationX>1408</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>varEDUCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Availability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MaxCSODisc</name>
        <label>Update MaxCSODisc</label>
        <locationX>1422</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>varMaxCSODisc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varApproveDiscount_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_QRP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MaxEDUDisc</name>
        <label>Update MaxEDUDisc</label>
        <locationX>1409</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>varMaxEDUDisc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varApproveDiscount_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_QRP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MaxProdDisc</name>
        <label>Update MaxProdDisc</label>
        <locationX>820</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>varMaxProdDisc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varApproveDiscount_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_QRP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MaxPSDisc</name>
        <label>Update MaxPSDisc</label>
        <locationX>1191</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>varMaxPSDisc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varApproveDiscount_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_QRP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MaxTrackDisc</name>
        <label>Update MaxTrackDisc</label>
        <locationX>1416</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>varMaxTrackDisc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varApproveDiscount_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_QRP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Product_Count</name>
        <label>Update Product Count</label>
        <locationX>1221</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varProductCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Availability</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ApprovalType</name>
        <label>Approval Type</label>
        <locationX>456</locationX>
        <locationY>10</locationY>
        <defaultConnector>
            <targetReference>Get_Availability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.Approval_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InternalOnly</targetReference>
            </connector>
            <label>Product</label>
        </rules>
        <rules>
            <name>Alliances</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.Approval_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alliances</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.Product_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pivotal Ready Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PartnerCount</targetReference>
            </connector>
            <label>Alliances</label>
        </rules>
        <rules>
            <name>Tracker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.Approval_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tracker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SaaSCount</targetReference>
            </connector>
            <label>Tracker</label>
        </rules>
        <rules>
            <name>Royalty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.Approval_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Royalty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ApproveRoyaltyCount</targetReference>
            </connector>
            <label>Royalty</label>
        </rules>
        <rules>
            <name>Edu_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.Approval_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ed Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEDUCount</targetReference>
            </connector>
            <label>Edu Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Availability</name>
        <label>Availability - General vs Controlled?</label>
        <locationX>812</locationX>
        <locationY>224</locationY>
        <defaultConnector>
            <targetReference>Set_Availability_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Controlled</defaultConnectorLabel>
        <rules>
            <name>General</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.ApproveAvailabilityF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.ApproveAvailabilityF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Max_Discounts_by_Approval_Type</targetReference>
            </connector>
            <label>General</label>
        </rules>
    </decisions>
    <decisions>
        <name>InternalOnly</name>
        <label>Internal?</label>
        <locationX>809</locationX>
        <locationY>2</locationY>
        <defaultConnector>
            <targetReference>Update_Product_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>External</defaultConnectorLabel>
        <rules>
            <name>Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.Product_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Internal only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Availability</targetReference>
            </connector>
            <label>Internal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_QRP_sCol_NULL</name>
        <label>Is QRP sCol NULL?</label>
        <locationX>63</locationX>
        <locationY>166</locationY>
        <defaultConnector>
            <targetReference>Loop_through_QRP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>QRP records returned</defaultConnectorLabel>
        <rules>
            <name>No_records_returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scolQuoteRatePlan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No records returned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Max_Discounts_by_Approval_Type</name>
        <label>Update Max Discounts by Approval Type</label>
        <locationX>817</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Loop_through_QRP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.Approval_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApproveDiscount_2</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varMaxProdDisc</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.Product_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SpringOne Platform Conference</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MaxProdDisc</targetReference>
            </connector>
            <label>Product</label>
        </rules>
        <rules>
            <name>Tracker2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.Approval_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tracker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.Approve_Discount_qcs__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varMaxTrackDisc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MaxTrackDisc</targetReference>
            </connector>
            <label>Tracker</label>
        </rules>
        <rules>
            <name>Ed_Services2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.Approval_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ed Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.Approve_Discount_qcs__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varMaxEDUDisc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MaxEDUDisc</targetReference>
            </connector>
            <label>Ed Services</label>
        </rules>
        <rules>
            <name>CSO</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.Approval_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.Approve_Discount_qcs__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varMaxCSODisc</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.Product_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>SpringOne Platform Conference</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MaxCSODisc</targetReference>
            </connector>
            <label>CSO</label>
        </rules>
        <rules>
            <name>Labs2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.ApproveProductServiceCatF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Labs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobjLoopQuoteRatePlan.Approve_Discount_qcs__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varMaxPSDisc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MaxPSDisc</targetReference>
            </connector>
            <label>Labs</label>
        </rules>
    </decisions>
    <description>May 2017</description>
    <formulas>
        <name>varApproveDiscount_2</name>
        <dataType>Number</dataType>
        <expression>{!sobjLoopQuoteRatePlan.ApproveDiscount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varQuote18</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!varQuoteID})</expression>
    </formulas>
    <interviewLabel>Quote Discount Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Discount Update</label>
    <loops>
        <name>Loop_through_QRP</name>
        <label>Loop through QRP</label>
        <locationX>356</locationX>
        <locationY>163</locationY>
        <assignNextValueToReference>sobjLoopQuoteRatePlan</assignNextValueToReference>
        <collectionReference>scolQuoteRatePlan</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ApprovalType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote_Approval_fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Quote_Rate_Plans_for_Quote</name>
        <label>Get Quote Rate Plans for Quote</label>
        <locationX>62</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_QRP_sCol_NULL</targetReference>
        </connector>
        <filters>
            <field>zqu__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </filters>
        <object>zqu__QuoteRatePlan__c</object>
        <outputReference>scolQuoteRatePlan</outputReference>
        <queriedFields>ApproveAvailabilityF__c</queriedFields>
        <queriedFields>ApproveDiscount__c</queriedFields>
        <queriedFields>ApproveProductFamilyF__c</queriedFields>
        <queriedFields>ApproveProductServiceCatF__c</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Approval_Type__c</queriedFields>
        <queriedFields>Approve_Discount_qcs__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Approval_fields</name>
        <label>Update Quote Approval fields</label>
        <locationX>69</locationX>
        <locationY>312</locationY>
        <connector>
            <targetReference>Populate_ApproveMail_lines</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ApproveAvailablityCount__c</field>
            <value>
                <elementReference>varApproveAvailabilityCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApproveCSODisc__c</field>
            <value>
                <elementReference>varMaxCSODisc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApproveEDUDisc__c</field>
            <value>
                <elementReference>varMaxEDUDisc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovePSDisc__c</field>
            <value>
                <elementReference>varMaxPSDisc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApproveProdDisc__c</field>
            <value>
                <elementReference>varMaxProdDisc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApproveRoyaltyCount__c</field>
            <value>
                <elementReference>varApproveRoyaltyCounty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApproveTrackDisc__c</field>
            <value>
                <elementReference>varMaxTrackDisc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConfEDU__c</field>
            <value>
                <elementReference>varEDUCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConfPartner__c</field>
            <value>
                <elementReference>varPartnerCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConfProduct__c</field>
            <value>
                <elementReference>varProductCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConfSaaS__c</field>
            <value>
                <elementReference>varSaaSCount</elementReference>
            </value>
        </inputAssignments>
        <object>zqu__Quote__c</object>
    </recordUpdates>
    <startElementReference>Get_Quote_Rate_Plans_for_Quote</startElementReference>
    <subflows>
        <name>Populate_ApproveMail_lines</name>
        <label>Populate ApproveMail lines</label>
        <locationX>74</locationX>
        <locationY>473</locationY>
        <flowName>Quote_Populate_ApproveMail</flowName>
        <inputAssignments>
            <name>varQuoteId</name>
            <value>
                <elementReference>varQuote18</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>scolQuoteRatePlan</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>zqu__QuoteRatePlan__c</objectType>
    </variables>
    <variables>
        <name>sobjLoopQuoteRatePlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>zqu__QuoteRatePlan__c</objectType>
    </variables>
    <variables>
        <name>varApproveAvailabilityCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varApproveDiscount_1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>sobjLoopQuoteRatePlan.ApproveDiscount__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varApproveRoyaltyCounty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varEDUCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varMaxCSODisc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varMaxEDUDisc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varMaxProdDisc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varMaxPSDisc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varMaxTrackDisc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPartnerCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSaaSCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
