src/flows/Quote_Sent_To_OM-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_error_email</name>
        <label>Send error email</label>
        <locationX>274</locationX>
        <locationY>208</locationY>
        <actionName>zqu__Quote__c.Quote_for_OM_Error</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_OM_Comments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_notification_to_OM</name>
        <label>Send notification to OM</label>
        <locationX>684</locationX>
        <locationY>92</locationY>
        <actionName>zqu__Quote__c.Quote_for_OM_INDIRECT</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sent_notification_to_OM_for_Direct_Order</name>
        <label>Sent notification to OM for Direct Order</label>
        <locationX>690</locationX>
        <locationY>321</locationY>
        <actionName>zqu__Quote__c.Quote_for_OM_DIRECT</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Indirect_or_Direct</name>
        <label>Indirect or Direct</label>
        <locationX>484</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>Send_notification_to_OM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Indirect</defaultConnectorLabel>
        <rules>
            <name>Direct</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varChannel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pivotal Direct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varChannel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Federation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_notification_to_OM_for_Direct_Order</targetReference>
            </connector>
            <label>Direct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quote_approved_and_Primary</name>
        <label>Is Quote approved and Primary?</label>
        <locationX>272</locationX>
        <locationY>68</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApproval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPrimaryQuote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sent_to_OM_on_Quote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varApproval</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPrimaryQuote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_error_email</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Update the Sent to OM flag on the quote, email Order Management group</description>
    <interviewLabel>Quote-Sent To OM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote-Sent To OM</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>RetrieveQuote</name>
        <label>RetrieveQuote</label>
        <locationX>72</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Quote_approved_and_Primary</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </filters>
        <object>zqu__Quote__c</object>
        <outputAssignments>
            <assignToReference>varApproval</assignToReference>
            <field>Approval__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varChannel</assignToReference>
            <field>Channel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOMStatus</assignToReference>
            <field>OM_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPrimaryQuote</assignToReference>
            <field>Primary_Quote__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_OM_Comments</name>
        <label>Update OM Comments</label>
        <locationX>276</locationX>
        <locationY>338</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OM_Comments__c</field>
            <value>
                <elementReference>VarOMComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OM_Status__c</field>
            <value>
                <stringValue>Not Sent to OM</stringValue>
            </value>
        </inputAssignments>
        <object>zqu__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sent_to_OM_on_Quote</name>
        <label>Update Sent to OM on Quote</label>
        <locationX>481</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>Indirect_or_Direct</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OM_Comments__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OM_Status__c</field>
            <value>
                <stringValue>Sent to OM</stringValue>
            </value>
        </inputAssignments>
        <object>zqu__Quote__c</object>
    </recordUpdates>
    <startElementReference>RetrieveQuote</startElementReference>
    <textTemplates>
        <name>VarOMComments</name>
        <text>Quote needs to be approved or Marked as Primary.Please check and try again</text>
    </textTemplates>
    <variables>
        <name>varApproval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOMStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPrimaryQuote</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSentToOM</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
