src/flows/Succes_Team_ChatterPost-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_Role</name>
        <label>Check Role</label>
        <locationX>362</locationX>
        <locationY>75</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PostChatter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Case Notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Chatter_Post</targetReference>
            </connector>
            <label>PostChatter</label>
        </rules>
        <rules>
            <name>PostChatterForBothRoles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case Notification &amp; Case Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Chatter_Post</targetReference>
            </connector>
            <label>PostChatterForBothRoles</label>
        </rules>
    </decisions>
    <interviewLabel>Succes Team ChatterPost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Success Team ChatterPost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Chatter_Post</name>
        <label>Create Chatter Post</label>
        <locationX>545</locationX>
        <locationY>237</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <stringValue>Case Create Email Notification Sent to Support Success Team</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordLookups>
        <name>Sucess_Team</name>
        <label>Sucess Team</label>
        <locationX>180</locationX>
        <locationY>98</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Role</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_User_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Success_Team__c</object>
        <outputAssignments>
            <assignToReference>Role</assignToReference>
            <field>Role__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Sucess_Team</startElementReference>
    <variables>
        <name>CaseAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Role</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
