src/flows/Sucess_Team_Login_Flow_V2-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Case_Team_Update</name>
        <label>Case Team Update?</label>
        <locationX>795</locationX>
        <locationY>58</locationY>
        <defaultConnector>
            <targetReference>SuccessTeamRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_case_Team_Update_Needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SucessTeamVariable.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Case Notification &amp; Case Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SucessTeamVariable.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Case Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Team_Member_For_Both_Roles</targetReference>
            </connector>
            <label>Is case Team Update Needed?</label>
        </rules>
    </decisions>
    <formulas>
        <name>OrgUrl</name>
        <dataType>String</dataType>
        <expression>{!$Label.Domain_URL}</expression>
    </formulas>
    <interviewLabel>Sucess Team Login Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Success Team Login Flow V2</label>
    <loops>
        <name>SuccessTeamRecord</name>
        <label>SuccessTeamRecord</label>
        <locationX>174</locationX>
        <locationY>400</locationY>
        <assignNextValueToReference>SucessTeamVariable</assignNextValueToReference>
        <collectionReference>SuccessTeam</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Case_Team_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_to_Notify_Case_Team</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Case_Team_Member_For_Both_Roles</name>
        <label>Case Team Member For Both Roles</label>
        <locationX>778</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>SuccessTeamRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>SucessTeamVariable.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>CaseTeamRoleID</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
    </recordCreates>
    <recordLookups>
        <name>CaseTeamRoleDataForBothRoles</name>
        <label>CaseTeamRoleDataForBothRoles</label>
        <locationX>180</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Success_Team</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support Success</stringValue>
            </value>
        </filters>
        <object>CaseTeamRole</object>
        <outputAssignments>
            <assignToReference>CaseTeamRoleID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Success_Team</name>
        <label>Query Success Team</label>
        <locationX>169</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SuccessTeamRecord</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_User_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Success_Team__c</object>
        <outputReference>SuccessTeam</outputReference>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Role__c</queriedFields>
        <queriedFields>User__c</queriedFields>
        <queriedFields>Is_User_Active__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_to_Notify_Case_Team</name>
        <label>Update Case to Notify Case Team</label>
        <locationX>181</locationX>
        <locationY>522</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Notify_Success_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Notify_Success_Team__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>CaseTeamRoleDataForBothRoles</startElementReference>
    <textTemplates>
        <name>EmailBody</name>
        <text>Subject: {!CaseDetails.Subject}
Contact Name: {!CaseDetails.Contact_FirstName__c} {!CaseDetails.Contact_LastName__c}
Account Name:  {!CaseAccountName}
Severity: {!CaseDetails.Priority}
Product:  {!CaseDetails.Products__c}
Case Owner: {!CaseOwner}

Url: {!OrgUrl}{!CaseId} 

Description: {!CaseDetails.Description}</text>
    </textTemplates>
    <variables>
        <name>CaseAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseCreatedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseTeamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseTeamRoleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>feedid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuccessRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuccessTeam</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Success_Team__c</objectType>
    </variables>
    <variables>
        <name>SuccessTeamUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SucessTeamAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SucessTeamVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Success_Team__c</objectType>
    </variables>
    <variables>
        <name>TeamRoleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
