src/flows/Sucess_Team_Login_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>916</locationX>
        <locationY>47</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SuccessTeamRecord</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Pivotal Support Success Team- {!CaseAccountName} Case Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmailAddress</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendNotificationForBothRole</name>
        <label>SendNotificationForBothRole</label>
        <locationX>648</locationX>
        <locationY>406</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CaseTeamRoleDataForBothRoles</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Pivotal Support Success Team- {!CaseAccountName} Case Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmailAddress</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Check</name>
        <label>Check</label>
        <locationX>934</locationX>
        <locationY>258</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>checkDuplicate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SucessTeamVariable.User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>MemberId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Team_Member</targetReference>
            </connector>
            <label>checkDuplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_Decision</name>
        <label>Role Decision</label>
        <locationX>240</locationX>
        <locationY>35</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SucessTeamVariable.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case Notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserEmail</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
        <rules>
            <name>Update_Case_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SucessTeamVariable.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseTeamRoleData</targetReference>
            </connector>
            <label>Update Case Team</label>
        </rules>
        <rules>
            <name>BothOperation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SucessTeamVariable.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case Notification &amp; Case Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserEmailForBothRoles</targetReference>
            </connector>
            <label>BothOperation</label>
        </rules>
    </decisions>
    <formulas>
        <name>OrgUrl</name>
        <dataType>String</dataType>
        <expression>{!$Label.Domain_URL}</expression>
    </formulas>
    <interviewLabel>Sucess Team Login Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sucess Team Login Flow</label>
    <loops>
        <name>SuccessTeamRecord</name>
        <label>SuccessTeamRecord</label>
        <locationX>155</locationX>
        <locationY>188</locationY>
        <assignNextValueToReference>SucessTeamVariable</assignNextValueToReference>
        <collectionReference>SuccessTeam</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Role_Decision</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Case_Team_Member</name>
        <label>Case Team Member</label>
        <locationX>862</locationX>
        <locationY>363</locationY>
        <connector>
            <targetReference>SuccessTeamRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>SucessTeamVariable.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>CaseTeamRoleID</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Team_Member_For_Both_Roles</name>
        <label>Case Team Member For Both Roles</label>
        <locationX>1023</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>SuccessTeamRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>SucessTeamVariable.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>CaseTeamRoleID</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
    </recordCreates>
    <recordLookups>
        <name>CaseData</name>
        <label>CaseData</label>
        <locationX>695</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseOwner</assignToReference>
            <field>CaseOwnerName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseDetails.Contact_FirstName__c</assignToReference>
            <field>Contact_FirstName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseDetails.Contact_LastName__c</assignToReference>
            <field>Contact_LastName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseDetails.Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseDetails.Priority</assignToReference>
            <field>Priority</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseDetails.Products__c</assignToReference>
            <field>Products__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseDetails.Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CaseDataForBothRoles</name>
        <label>CaseDataForBothRoles</label>
        <locationX>484</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendNotificationForBothRole</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseOwner</assignToReference>
            <field>CaseOwnerName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseDetails.Contact_FirstName__c</assignToReference>
            <field>Contact_FirstName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseDetails.Contact_LastName__c</assignToReference>
            <field>Contact_LastName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseDetails.Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseDetails.Priority</assignToReference>
            <field>Priority</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseDetails.Products__c</assignToReference>
            <field>Products__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseDetails.Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CaseTeamRoleData</name>
        <label>CaseTeamRoleData</label>
        <locationX>706</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Case_Team_member</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support Success</stringValue>
            </value>
        </filters>
        <object>CaseTeamRole</object>
        <outputAssignments>
            <assignToReference>CaseTeamRoleID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CaseTeamRoleDataForBothRoles</name>
        <label>CaseTeamRoleDataForBothRoles</label>
        <locationX>839</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Team_Member_For_Both_Roles</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support Success</stringValue>
            </value>
        </filters>
        <object>CaseTeamRole</object>
        <outputAssignments>
            <assignToReference>CaseTeamRoleID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Case_Team_member</name>
        <label>Query Case Team member</label>
        <locationX>789</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>CaseTeamMember</object>
        <outputAssignments>
            <assignToReference>MemberId</assignToReference>
            <field>MemberId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Success_Team</name>
        <label>Query Success Team</label>
        <locationX>0</locationX>
        <locationY>108</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SuccessTeamRecord</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseAccountId</elementReference>
            </value>
        </filters>
        <object>Success_Team__c</object>
        <outputReference>SuccessTeam</outputReference>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Role__c</queriedFields>
        <queriedFields>User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>UserEmail</name>
        <label>UserEmail</label>
        <locationX>500</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseData</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SucessTeamVariable.User__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserEmailAddress</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>UserEmailForBothRoles</name>
        <label>UserEmailForBothRoles</label>
        <locationX>326</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseDataForBothRoles</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SucessTeamVariable.User__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserEmailAddress</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Query_Success_Team</startElementReference>
    <textTemplates>
        <name>EmailBody</name>
        <text>Subject: {!CaseDetails.Subject}
Contact Name: {!CaseDetails.Contact_FirstName__c} {!CaseDetails.Contact_LastName__c}
Account Name:  {!CaseAccountName}
Severity: {!CaseDetails.Priority}
Product:  {!CaseDetails.Products__c}
Case Owner: {!CaseOwner}

Url: {!OrgUrl}{!CaseId} 

Description: {!CaseDetails.Description}</text>
    </textTemplates>
    <variables>
        <name>CaseAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseCreatedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseTeamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseTeamRoleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>feedid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuccessRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuccessTeam</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Success_Team__c</objectType>
    </variables>
    <variables>
        <name>SuccessTeamUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SucessTeamAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SucessTeamVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Success_Team__c</objectType>
    </variables>
    <variables>
        <name>TeamRoleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
