src/flows/Task_Send_Hortonworks_Notification-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_acknowledgement_to_Submitter</name>
        <label>Send acknowledgement to Submitter</label>
        <locationX>642</locationX>
        <locationY>313</locationY>
        <actionName>Lead.Send_Ack_for_HW</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_Lead_to_HW_Queue</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_of_HW_Lead</name>
        <label>Send Notification of HW Lead</label>
        <locationX>450</locationX>
        <locationY>309</locationY>
        <actionName>Lead.Notify_BD_of_Hortonworks_Reg</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_acknowledgement_to_Submitter</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>Task-Send Hortonworks Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task-Send Hortonworks Notification</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead_Item</name>
        <label>Get Lead from Task</label>
        <locationX>167</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_of_HW_Lead</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Item</name>
        <label>Get Task Item</label>
        <locationX>166</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead_Item</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>varLeadId</assignToReference>
            <field>WhoId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Lead_to_HW_Queue</name>
        <label>Assign Lead to HW Queue</label>
        <locationX>850</locationX>
        <locationY>306</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00GU0000002gGBy</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00GU0000002gGBy</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Get_Task_Item</startElementReference>
    <variables>
        <name>varLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
