src/flows/Update_User_if_DPL_Status_has_been_Changed_in_Contact_Record-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Update User if DPL Status has been Changed in Contact Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update User if DPL Status has been Changed in Contact Record v3</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>L1ProfileIdFromDataValueMapCS</name>
        <label>L1ProfileIdFromDataValueMapCS</label>
        <locationX>207</locationX>
        <locationY>98</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Embargo_Country_Field</targetReference>
        </connector>
        <filters>
            <field>Embargo_Country_ISO_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactRecord.MailingCountryCode</elementReference>
            </value>
        </filters>
        <object>US_Embargo_Countries__c</object>
        <outputAssignments>
            <assignToReference>ActiveEmbargoCountry</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Contact_Data</name>
        <label>Query Contact Data</label>
        <locationX>56</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>L1ProfileIdFromDataValueMapCS</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactRecord.DPL_Status__c</assignToReference>
            <field>DPL_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmbargoCountry</assignToReference>
            <field>Embargo_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRecord.MailingCountryCode</assignToReference>
            <field>MailingCountryCode</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Embargo_Country_Field</name>
        <label>Update Contact Embargo Country Field</label>
        <locationX>645</locationX>
        <locationY>108</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Embargo_Country__c</field>
            <value>
                <elementReference>ActiveEmbargoCountry</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>Query_Contact_Data</startElementReference>
    <variables>
        <name>ActiveEmbargoCountry</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Contact Id to be passed as an argument for this flow</description>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EmbargoCountry</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>L1ProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>L2ProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
