src/flows/Updates_to_FeedItem_for_case-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>APBG_Deal_Registration__c;Account;ApproveLine__c;Asset;AssetRelationship;CNS_Region__c;Campaign;Case;CaseDep__c;CategoryType__c;Certification_Test__c;Certification__c;Channel__c;CodeRobot__CR_Project_Record__c;CodeRobot__CR_Project__c;CodeRobot__Code_Robot_Record_FV__c;CollaborationGroup;CommunityDiscussionArchive__c;Company_Code__c;Comparator__API_Version__c;Contact;ContentDocument;Contract;Conversion_Rate__c;Country_Uplift__c;Customer_History__c;DSCORGPKG__AutoUpdateSettings__c;DSCORGPKG__ConflictField__c;DSCORGPKG__Conflict__c;DSCORGPKG__DiscoverOrgResults__c;DSCORGPKG__DiscoverOrg_AutoUpdate_Log__c;DSCORGPKG__DiscoverOrg_Custom_Mapping__c;DSCORGPKG__DiscoverOrg_Metadata__c;DSCORGPKG__DiscoverOrg_Operation__c;DSCORGPKG__DiscoverOrg_Search__c;DSCORGPKG__DiscoverOrg_Update_History__c;DSCORGPKG__FieldMapping__c;DSCORGPKG__MaintainOperation__c;DSCORGPKG__Nightly_Debug__c;DSCORGPKG__OppAlert__c;DSCORGPKG__Trigger__c;Dashboard;DashboardComponent;DataValueMap__c;Entitlement;Event;Exception_Log__c;FXRates__c;Field_Trip__Field_Analysis__c;Field_Trip__Logistics__c;Field_Trip__Object_Analysis__c;ISR_Region__c;Indirect_Order__c;IntegrationControl__c;KnowledgeArticle__ka;Lead;LeanData__A2B_Group__c;LeanData__ABM_Reassign_Rule__c;LeanData__Account_Account_Match__c;LeanData__Account_Search__c;LeanData__Buyer_Persona__c;LeanData__CC_Inserted_Object__c;LeanData__CC_Updated_Account__c;LeanData__CC_Updated_Lead__c;LeanData__Campaign_Influence_Summary__c;LeanData__Campaign_Opportunity__c;LeanData__Confirmed_Lead_Account_Match__c;LeanData__Contact_Contact_Match__c;LeanData__Continuous_Persona_On_Sobject__c;LeanData__Daily_Metrics_Wrapper__c;LeanData__Error_Message__c;LeanData__L2a_Router_Node__c;LeanData__LD_Log__c;LeanData__LD_Long_Log__c;LeanData__LD_StopWord__c;LeanData__LeadFilterAction__c;LeanData__LeadFilterRule__c;LeanData__LeadFilter__c;LeanData__Lead_Account_Match__c;LeanData__Lead_Account_Pair__c;LeanData__Lead_Contact_Match__c;LeanData__Lead_Conversion__c;LeanData__Lead_Lead_Match__c;LeanData__Lead_Search__c;LeanData__Log__c;LeanData__Long_Text_Setting__c;LeanData__Marketing_Lead__c;LeanData__Marketing_Touch__c;LeanData__Mass_Convert_Lead__c;LeanData__Matched_View_Setting__c;LeanData__Matching_Token__c;LeanData__Merge_Group_Member__c;LeanData__One_Time_Buyer_Persona_History__c;LeanData__Opportunity_Campaign_Member__c;LeanData__Persona_Action__c;LeanData__Persona_Condition__c;LeanData__Potential_Match__c;LeanData__Potential_Upload_Row_Account_Match__c;LeanData__Profile_Permission_Setting__c;LeanData__Quarterly_Metric__c;LeanData__Reporting_Setting__c;LeanData__Round_Robin_Grouping__c;LeanData__Round_Robin_Setting__c;LeanData__Routing_Deployment__c;LeanData__Routing_Graph__c;LeanData__Routing_Metric__c;LeanData__Temporary_Marketing_Touch__c;LeanData__Territory_Geo__c;LeanData__Territory_Segment__c;LeanData__Territory__c;LeanData__Unlinked_Record__c;LeanData__Upload_Account_Match__c;LeanData__Upload_Contact_Account__c;LeanData__Upload_Contact_Match__c;LeanData__Upload_Lead_Match__c;LeanData__Upload_Lead__c;Legal_Doc__c;LinkedArticle;Opportunity;OrderConfLine__c;OrgChartPlus__ADP_OrgChartEntityCommon__c;OrgChartPlus__ADP_OrgChartEntity__c;OrgChartPlus__ADP_OrgChartRelationship__c;OrgChartPlus__ADP_OrgChartTeamMember__c;OrgChartPlus__ADP_OrgChart__c;OrgChartPlus__Company_Account__c;OrgChartPlus__MSO_OrgChart2EntityCommon__c;OrgChartPlus__MSO_OrgChart2Entity__c;OrgChartPlus__MSO_OrgChart2Relationship__c;OrgChartPlus__MSO_OrgChart2TeamMember__c;OrgChartPlus__MSO_OrgChart2__c;OrgChartPlus__OCP_Customisation__c;OrgChartPlus__SM_Competitor__c;OrgChartPlus__SM_Intimacy__c;OrgChartPlus__SM_NonSFUser__c;PCCT__Session_Time__c;Partner_Product_Version__c;Partner_Product__c;Partnership__c;Pivotal_Integrated_Product_Version__c;Pivotal_Integrated_Product__c;PoC__c;PortalObjectAccess__c;PortalUserCreationMap__c;Product2;ProductEntitlementMap__c;Program__c;Project_Time_Entry__c;RelatedCaseFieldMapping__c;Report;Sendsafely__c;ServiceContract;Site;SocialPost;Solution;Special_Handling_Instructions__c;Success_Team__c;Task;Topic;UAA_Callout__c;US_Embargo_Countries__c;User;ZuoraJob__c;Zuora_Custom_Setting__c;Zuora_Import__c;Zuora__CrmId_Change_Result__c;Zuora__CustomerAccount__c;Zuora__MigrationSettings__c;Zuora__ObjectStub__c;Zuora__PaymentGateway__c;Zuora__PaymentInvoice__c;Zuora__PaymentMethod__c;Zuora__PaymentTerm__c;Zuora__Payment__c;Zuora__Product__c;Zuora__RefundInvoicePayment__c;Zuora__Refund__c;Zuora__SubscriptionProductCharge__c;Zuora__SubscriptionProductFeature__c;Zuora__SubscriptionRatePlanChargeTier__c;Zuora__SubscriptionRatePlan__c;Zuora__Subscription__c;Zuora__Sync_History__c;Zuora__UnitOfMeasure__c;Zuora__ZInvoice__c;Zuora__ZuoraConfig__c;bsource__BS_Deal_Support_Request__c;bsource__Briefing_Attendee__c;bsource__Briefing_Topic__c;bsource__DSR_Opportunity__c;mkto_si__BestBetsCache__c;mkto_si__Best_Bets_View_Detail__c;mkto_si__Best_Bets_View__c;mkto_si__EmailActivityCache__c;mkto_si__Get_Method_Argus__c;mkto_si__GroupedWebActivityCache__c;mkto_si__InterestingMomentsCache__c;mkto_si__MarketoSettings__c;mkto_si__Marketo_Sales_Insight_Config__c;mkto_si__ScoringCache__c;mkto_si__UserPreferences__c;mkto_si__Value__c;mkto_si__WebActivityCache__c;refedge__Account_Attribute__c;refedge__Account_Reference_Content__c;refedge__Advanced_Routing__c;refedge__Attribute_Mapping__c;refedge__Attribute__c;refedge__Attributes_Labels__c;refedge__Community_Invite_Attribute__c;refedge__Community_Invite_Contact__c;refedge__Community_Invite__c;refedge__Community_News__c;refedge__Contact_Attribute__c;refedge__Contact_Reference_Content__c;refedge__Content_Attribute__c;refedge__Content_Collection__c;refedge__Content_Type_Mapping__c;refedge__Custom_Settings__c;refedge__Data_Mapping__c;refedge__Hit_List__c;refedge__Interview_Question__c;refedge__Interview_Topic__c;refedge__Invitation_ReferenceContent__c;refedge__Invitation__c;refedge__Invitee__c;refedge__Label__c;refedge__Microsite__c;refedge__Nomination_Label_Attribute__c;refedge__Nomination_Label__c;refedge__Nomination_Referenceability__c;refedge__Nomination__c;refedge__POR_App_Configuration__c;refedge__ReferenceLeadAttributes__c;refedge__ReferenceLeadFilter__c;refedge__ReferenceLeadReferenceability__c;refedge__ReferenceUse__c;refedge__Reference_Basic_Information__c;refedge__Reference_Content_Type_Field__c;refedge__Reference_Content_Type__c;refedge__Reference_Content__c;refedge__Reference_Interview__c;refedge__Reference_Lead__c;refedge__Reference_Note__c;refedge__Reference_Refresh_Update__c;refedge__Reference_Refresh__c;refedge__Reference_Request_Account_Contact__c;refedge__Reference_Request_Account__c;refedge__Reference_Request_Additional_Info__c;refedge__Reference_Request_Field__c;refedge__Reference_Request_Label_Attribute__c;refedge__Reference_Request_Label__c;refedge__Reference_Request__c;refedge__Reference_Requests_and_Invitations__c;refedge__Reference_Type_Mapping__c;refedge__Referenceability_Type__c;refedge__Referenceability__c;refedge__Related_Reference_Content__c;refedge__Reward__c;refedge__Unspecified_Request__c;refedge__User_Mapping__c;refedge__User_Profile__c;talkdesk__CxmFlow__c;talkdesk__Talkdesk_Activity__c;talkdesk__Talkdesk_Disposition_Code__c;talkdesk__Talkdesk_Public__c;talkdesk__Talkdesk_Syncing_Custom_Object__c;zqu__BillingEntity__c;zqu__CalculatedValue__c;zqu__Catalog_Sync_History__c;zqu__CommunicationProfile__c;zqu__Field_Set_Config__c;zqu__FilterCondition__c;zqu__Format_Object__c;zqu__GuidedSellingFlow__c;zqu__GuidedSellingSection__c;zqu__GuidedSellingStep__c;zqu__HostedPageLiteSetting__c;zqu__Hosted_Page_Setting__c;zqu__InvoiceTemplate__c;zqu__List_Filter_Item__c;zqu__List_Filter__c;zqu__ProductOptionGroup__c;zqu__ProductOption__c;zqu__ProductRatePlanChargeOption__c;zqu__ProductRatePlanChargePriceSummary__c;zqu__ProductRatePlanChargeTierOption__c;zqu__ProductRatePlanChargeTier__c;zqu__ProductRatePlanCharge__c;zqu__ProductRatePlanOption__c;zqu__ProductRatePlan__c;zqu__QuoteAmendment__c;zqu__QuoteChargeDetail__c;zqu__QuoteChargeSummary__c;zqu__QuoteCharge_Tier__c;zqu__QuoteCharge__c;zqu__QuoteProductFeature__c;zqu__QuoteProductOptionGroup__c;zqu__QuoteProductOption__c;zqu__QuoteRatePlanChargeOption__c;zqu__QuoteRatePlanCharge__c;zqu__QuoteRatePlanOption__c;zqu__QuoteRatePlan__c;zqu__QuoteTCVStatus__c;zqu__QuoteWizardStep__c;zqu__Quote_Processing_Data__c;zqu__Quote_Template__c;zqu__Quote__c;zqu__ScaleSetting__c;zqu__SequenceGenerator__c;zqu__StepToFilterMap__c;zqu__StepToFlowMap__c;zqu__Sync_History__c;zqu__UserProductFilter__c;zqu__ZFeatureFieldSet__c;zqu__ZFeature__c;zqu__ZFilter__c;zqu__ZList__c;zqu__ZProductFeature__c;zqu__ZProduct__c;zqu__ZRule__c;zqu__ZSyncSchemaValue__c;zqu__ZSyncSchema__c;zqu__ZUnitOfMeasure__c;zqu__ZuoraConfig__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>formula_2_myRule_1_8088233550</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>If it is related to Case</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Label.Case_Object_First_3_Characters </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_8088233550</name>
        <dataType>String</dataType>
        <expression>{!$Label.Case_Object_First_3_Characters}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW() </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_3775846686</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Updates_to_FeedItem_for_case-1_InterviewLabel</interviewLabel>
    <label>Updates to FeedItem for case</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>FeedItem</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[FeedItem].Parent ID (Case)</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Case Last Modified Date Custom field</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Last Modified Date Custom</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Last_Modified_Date_Custom__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_3775846686</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
